body, html, #root {
    height: 100%;
    background: #ffe5f2;
    overflow: hidden;
}

.messenger-navbar {
    background: #e8b3d6;

    a {
        color: white;
        &:hover {
            color: #966dd3;
        }
    }
}

.peers li {
    cursor: pointer;
}

.peer-header {
    min-height: 40px;
    background: #c5c0dc;
}

.chat-header {
    min-height: 40px;
    background: #c9b4e9;
}

.peer-header {
    color: white;
}

.chat-footer {
    min-height: 40px;
    background: #c9b4e9;
}

.peer-footer,{
    min-height: 40px;
    background: #c5c0dc;
}

.chat-header {
    color: white;
}
.chat-footer {
    border-top: 1px solid #32465a;
    max-height: 40px;
}

.messages {
    background: #fcf8fb;
}

.scroll-on-overflow {
    overflow: auto;
}

.peers .list-group-item {
    padding: 0px;
    background: #ecf7ff;
    &:hover {
        background: lightgrey;
    }
}

button {
    outline:0 !important;
    &:focus {
        outline:0 !important;
    }
    &:hover {
        color:#333333;
    }
    &:active {
        color:#e8b3d6;
    }
}

.message-input {
    width: 100%;
    input {
        background: #white;
        border: none;
        padding: 0 0 0 10px;
        margin: 0;
        border-radius: 0;
        height: 39px;
        width: calc(100% - 60px);
    }
    button {
        cursor: pointer;
        height: 39px;
        width: 60px;
        border-radius: 0;
        border: none;
        outline:0;
    }
}